In [1]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [2]:
import pandas as pd

In [3]:
pd._versionn_

AttributeError: module 'pandas' has no attribute '_versionn_'

In [4]:
pd._version_

AttributeError: module 'pandas' has no attribute '_version_'

In [5]:
pd.__version__

'1.0.3'

In [7]:
pd.read_excel("aSSER REG_updated.xls")

FileNotFoundError: [Errno 2] No such file or directory: 'aSSER REG_updated.xls'

In [8]:
pd.read_excel("aSSETREG_updated.xls")

FileNotFoundError: [Errno 2] No such file or directory: 'aSSETREG_updated.xls'

In [9]:
pd.read_excel("aSSETREG_updated.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'aSSETREG_updated.xlsx'

In [10]:
pd.read_excel('C:\Users\TMFL\aSSET_REG.xlsx')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-10-ffd07151c999>, line 1)

In [11]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx')

,Unnamed: 0,Unnamed: 1,HostName,Asset Type,Make,SerialNumber,Username,Domain ID,Status,Remark
0,NaN,NaN,INPCTCS05987,DESKTOP,ZENITH,3X09688,NaN,NaN,NaN,NaN
1,NaN,NaN,INPCTCS05066,DESKTOP,ZENITH,2Y17400,NaN,NaN,NaN,NaN
2,NaN,NaN,INPCTCS05065,DESKTOP,ZENITH,2Y17391,NaN,NaN,NaN,NaN
3,NaN,NaN,INPCTCS05985,DESKTOP,ZENITH,3Y10493,NaN,NaN,NaN,NaN
4,NaN,NaN,INPCTCS05919,DESKTOP,ZENITH,3Y11196,NaN,NaN,NaN,NaN
5,NaN,NaN,INLTTTCS02629,LAPTOP,HP,CND1343ZXW,NaN,NaN,NaN,NaN
6,NaN,NaN,INLTTTCS04171,LAPTOP,HP,INA310Y8SW,NaN,NaN,NaN,NaN
7,NaN,NaN,INLTTTCS03605,LAPTOP,HP,INA304VYK2,NaN,NaN,NaN,NaN
8,NaN,NaN,INLTTTCS03356,LAPTOP,HP,5CB22023XS,NaN,NaN,NaN,NaN
9,NaN,NaN,INLTTTCS04484,LAPTOP,HP,INA402QKY6,NaN,NaN,NaN,NaN
10,NaN,NaN,INLTTTCS06726,LAPTOP,HP,5CB42504GC,NaN,NaN,NaN,NaN
11,NaN,NaN,INLTTTCS03659,LAPTOP,HP,INA304VYMR,NaN,NaN,NaN,NaN
12,NaN,NaN,INLTTTCS07201,LAPTOP,HP,CND4476TBC,NaN,NaN,NaN,NaN
13,NaN,NaN,INLTTTCS04482,LAPTOP,HP,INA402QKYS,NaN,NaN,NaN,NaN
14,NaN,NaN,INLTTTCS06124,LAPTOP,HP,INA416WW3X,NaN,NaN,NaN,NaN
15,NaN,NaN,INLTTTCS06853,LAPTOP,HP,CND4388WST,NaN,NaN,NaN,NaN
16,NaN,NaN,INLTTTCS0449,LAPTOP,HP,INA402QKXD,NaN,NaN,NaN,NaN
17,NaN,NaN,INLTTTCS01239,LAPTOP,HP,CNU0411DB6,NaN,NaN,NaN,NaN
18,NaN,NaN,INLTTTCS02353,LAPTOP,HP,5CG0490222,NaN,NaN,NaN,NaN
19,NaN,NaN,na,LAPTOP,HP,INA340Y9K6,NaN,NaN,NaN,NaN
20,NaN,NaN,INLTTTCS06410,LAPTOP,HP,5CB4230Q5Q,NaN,NaN,NaN,NaN
21,NaN,NaN,INLTTTCS04477,LAPTOP,HP,INA402QQ3V,NaN,NaN,NaN,NaN

In [12]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',indexcol=3)

,Unnamed: 0,Unnamed: 1,HostName,Asset Type,Make,SerialNumber,Username,Domain ID,Status,Remark
0,NaN,NaN,INPCTCS05987,DESKTOP,ZENITH,3X09688,NaN,NaN,NaN,NaN
1,NaN,NaN,INPCTCS05066,DESKTOP,ZENITH,2Y17400,NaN,NaN,NaN,NaN
2,NaN,NaN,INPCTCS05065,DESKTOP,ZENITH,2Y17391,NaN,NaN,NaN,NaN
3,NaN,NaN,INPCTCS05985,DESKTOP,ZENITH,3Y10493,NaN,NaN,NaN,NaN
4,NaN,NaN,INPCTCS05919,DESKTOP,ZENITH,3Y11196,NaN,NaN,NaN,NaN
5,NaN,NaN,INLTTTCS02629,LAPTOP,HP,CND1343ZXW,NaN,NaN,NaN,NaN
6,NaN,NaN,INLTTTCS04171,LAPTOP,HP,INA310Y8SW,NaN,NaN,NaN,NaN
7,NaN,NaN,INLTTTCS03605,LAPTOP,HP,INA304VYK2,NaN,NaN,NaN,NaN
8,NaN,NaN,INLTTTCS03356,LAPTOP,HP,5CB22023XS,NaN,NaN,NaN,NaN
9,NaN,NaN,INLTTTCS04484,LAPTOP,HP,INA402QKY6,NaN,NaN,NaN,NaN
10,NaN,NaN,INLTTTCS06726,LAPTOP,HP,5CB42504GC,NaN,NaN,NaN,NaN
11,NaN,NaN,INLTTTCS03659,LAPTOP,HP,INA304VYMR,NaN,NaN,NaN,NaN
12,NaN,NaN,INLTTTCS07201,LAPTOP,HP,CND4476TBC,NaN,NaN,NaN,NaN
13,NaN,NaN,INLTTTCS04482,LAPTOP,HP,INA402QKYS,NaN,NaN,NaN,NaN
14,NaN,NaN,INLTTTCS06124,LAPTOP,HP,INA416WW3X,NaN,NaN,NaN,NaN
15,NaN,NaN,INLTTTCS06853,LAPTOP,HP,CND4388WST,NaN,NaN,NaN,NaN
16,NaN,NaN,INLTTTCS0449,LAPTOP,HP,INA402QKXD,NaN,NaN,NaN,NaN
17,NaN,NaN,INLTTTCS01239,LAPTOP,HP,CNU0411DB6,NaN,NaN,NaN,NaN
18,NaN,NaN,INLTTTCS02353,LAPTOP,HP,5CG0490222,NaN,NaN,NaN,NaN
19,NaN,NaN,na,LAPTOP,HP,INA340Y9K6,NaN,NaN,NaN,NaN
20,NaN,NaN,INLTTTCS06410,LAPTOP,HP,5CB4230Q5Q,NaN,NaN,NaN,NaN
21,NaN,NaN,INLTTTCS04477,LAPTOP,HP,INA402QQ3V,NaN,NaN,NaN,NaN

In [13]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',index_col=3)

,Unnamed: 0,Unnamed: 1,HostName,Make,SerialNumber,Username,Domain ID,Status,Remark
Asset Type,,,,,,,,,
DESKTOP,NaN,NaN,INPCTCS05987,ZENITH,3X09688,NaN,NaN,NaN,NaN
DESKTOP,NaN,NaN,INPCTCS05066,ZENITH,2Y17400,NaN,NaN,NaN,NaN
DESKTOP,NaN,NaN,INPCTCS05065,ZENITH,2Y17391,NaN,NaN,NaN,NaN
DESKTOP,NaN,NaN,INPCTCS05985,ZENITH,3Y10493,NaN,NaN,NaN,NaN
DESKTOP,NaN,NaN,INPCTCS05919,ZENITH,3Y11196,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS02629,HP,CND1343ZXW,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS04171,HP,INA310Y8SW,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS03605,HP,INA304VYK2,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS03356,HP,5CB22023XS,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS04484,HP,INA402QKY6,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS06726,HP,5CB42504GC,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS03659,HP,INA304VYMR,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS07201,HP,CND4476TBC,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS04482,HP,INA402QKYS,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS06124,HP,INA416WW3X,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS06853,HP,CND4388WST,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS0449,HP,INA402QKXD,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS01239,HP,CNU0411DB6,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS02353,HP,5CG0490222,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,na,HP,INA340Y9K6,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS06410,HP,5CB4230Q5Q,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS04477,HP,INA402QQ3V,NaN,NaN,NaN,NaN

In [14]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',index_col=3,header=0)

,Unnamed: 0,Unnamed: 1,HostName,Make,SerialNumber,Username,Domain ID,Status,Remark
Asset Type,,,,,,,,,
DESKTOP,NaN,NaN,INPCTCS05987,ZENITH,3X09688,NaN,NaN,NaN,NaN
DESKTOP,NaN,NaN,INPCTCS05066,ZENITH,2Y17400,NaN,NaN,NaN,NaN
DESKTOP,NaN,NaN,INPCTCS05065,ZENITH,2Y17391,NaN,NaN,NaN,NaN
DESKTOP,NaN,NaN,INPCTCS05985,ZENITH,3Y10493,NaN,NaN,NaN,NaN
DESKTOP,NaN,NaN,INPCTCS05919,ZENITH,3Y11196,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS02629,HP,CND1343ZXW,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS04171,HP,INA310Y8SW,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS03605,HP,INA304VYK2,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS03356,HP,5CB22023XS,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS04484,HP,INA402QKY6,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS06726,HP,5CB42504GC,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS03659,HP,INA304VYMR,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS07201,HP,CND4476TBC,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS04482,HP,INA402QKYS,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS06124,HP,INA416WW3X,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS06853,HP,CND4388WST,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS0449,HP,INA402QKXD,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS01239,HP,CNU0411DB6,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS02353,HP,5CG0490222,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,na,HP,INA340Y9K6,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS06410,HP,5CB4230Q5Q,NaN,NaN,NaN,NaN
LAPTOP,NaN,NaN,INLTTTCS04477,HP,INA402QQ3V,NaN,NaN,NaN,NaN

In [15]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',index_col=3,usecols="A:D")

            Unnamed: 0  Unnamed: 1       HostName
Asset Type
DESKTOP            NaN         NaN   INPCTCS05987
DESKTOP            NaN         NaN   INPCTCS05066
DESKTOP            NaN         NaN   INPCTCS05065
DESKTOP            NaN         NaN   INPCTCS05985
DESKTOP            NaN         NaN   INPCTCS05919
LAPTOP             NaN         NaN  INLTTTCS02629
LAPTOP             NaN         NaN  INLTTTCS04171
LAPTOP             NaN         NaN  INLTTTCS03605
LAPTOP             NaN         NaN  INLTTTCS03356
LAPTOP             NaN         NaN  INLTTTCS04484
LAPTOP             NaN         NaN  INLTTTCS06726
LAPTOP             NaN         NaN  INLTTTCS03659
LAPTOP             NaN         NaN  INLTTTCS07201
LAPTOP             NaN         NaN  INLTTTCS04482
LAPTOP             NaN         NaN  INLTTTCS06124
LAPTOP             NaN         NaN  INLTTTCS06853
LAPTOP             NaN         NaN   INLTTTCS0449
LAPTOP             NaN         NaN  INLTTTCS01239
LAPTOP             NaN         NaN  INLTTTCS02353
LAPTOP             NaN         NaN             na
LAPTOP             NaN         NaN  INLTTTCS06410
LAPTOP             NaN         NaN  INLTTTCS04477

In [16]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,SL No,Domain ID,Location,Hostname,Asset Type,Make,Model,Serial number,Username,Company,Payroll,Asset Health
1,NaN,NaN,1,99305693,Bangalore RO,INPCTCS08905,Desktop,HP,H61,INA426P8NS,Shashi3 Kumar,TMF,Associate,Working
2,NaN,NaN,2,99305685,Bangalore RO,INPCTCS08055,Desktop,HP,202 MT,INA409TBNW,Prathap N Vandker,TMF,Associate,Working
3,NaN,NaN,3,88000540,Bangalore RO,INPCTCS04006,Desktop,Zenith,G31,INA426P8NK,BOBIN K SAMUEL,TMF,Associate,Working
4,NaN,NaN,4,520549,Bangalore RO,INPCTCS05064,Desktop,Zenith,G41,2Y17395,Jagadeesha Dankanachari,TMF,TMF,Working
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,NaN,NaN,92,99303246,Bangalore RO,INPCTCS05064,Desktop,Zenith,H61,2Y17395,Kaarthik G,TMF,Associate,Working
93,NaN,NaN,93,NaN,Bangalore RO,INPCTCS05893,Desktop,Zenith,H61,3Y10996,NaN,NaN,NaN,Working
94,NaN,NaN,94,99500016,Bangalore RO,INPCTCS06080,Desktop,HP,202 MT,INA403QSKB,Lithika V,TMF,Associate,Working
95,NaN,NaN,95,99015992,Bangalore RO,INPCTCS00683,Desktop,HP,204 MT,INA403QSHO,Sumati S,NaN,Associate,Working
96,NaN,NaN,96,99303619,Bangalore RO,INPCTCS08054,Desktop,HP,205 MT,INA426P9HZ,Immanuvel Y,TMF,Associate,Working

In [17]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',index_col=3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
Domain ID,NaN,NaN,SL No,Location,Hostname,Asset Type,Make,Model,Serial number,Username,Company,Payroll,Asset Health
99305693,NaN,NaN,1,Bangalore RO,INPCTCS08905,Desktop,HP,H61,INA426P8NS,Shashi3 Kumar,TMF,Associate,Working
99305685,NaN,NaN,2,Bangalore RO,INPCTCS08055,Desktop,HP,202 MT,INA409TBNW,Prathap N Vandker,TMF,Associate,Working
88000540,NaN,NaN,3,Bangalore RO,INPCTCS04006,Desktop,Zenith,G31,INA426P8NK,BOBIN K SAMUEL,TMF,Associate,Working
520549,NaN,NaN,4,Bangalore RO,INPCTCS05064,Desktop,Zenith,G41,2Y17395,Jagadeesha Dankanachari,TMF,TMF,Working
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99303246,NaN,NaN,92,Bangalore RO,INPCTCS05064,Desktop,Zenith,H61,2Y17395,Kaarthik G,TMF,Associate,Working
NaN,NaN,NaN,93,Bangalore RO,INPCTCS05893,Desktop,Zenith,H61,3Y10996,NaN,NaN,NaN,Working
99500016,NaN,NaN,94,Bangalore RO,INPCTCS06080,Desktop,HP,202 MT,INA403QSKB,Lithika V,TMF,Associate,Working
99015992,NaN,NaN,95,Bangalore RO,INPCTCS00683,Desktop,HP,204 MT,INA403QSHO,Sumati S,NaN,Associate,Working
99303619,NaN,NaN,96,Bangalore RO,INPCTCS08054,Desktop,HP,205 MT,INA426P9HZ,Immanuvel Y,TMF,Associate,Working

In [18]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',index_col=2
             )

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
SL No,NaN,NaN,Domain ID,Location,Hostname,Asset Type,Make,Model,Serial number,Username,Company,Payroll,Asset Health
1,NaN,NaN,99305693,Bangalore RO,INPCTCS08905,Desktop,HP,H61,INA426P8NS,Shashi3 Kumar,TMF,Associate,Working
2,NaN,NaN,99305685,Bangalore RO,INPCTCS08055,Desktop,HP,202 MT,INA409TBNW,Prathap N Vandker,TMF,Associate,Working
3,NaN,NaN,88000540,Bangalore RO,INPCTCS04006,Desktop,Zenith,G31,INA426P8NK,BOBIN K SAMUEL,TMF,Associate,Working
4,NaN,NaN,520549,Bangalore RO,INPCTCS05064,Desktop,Zenith,G41,2Y17395,Jagadeesha Dankanachari,TMF,TMF,Working
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,NaN,NaN,99303246,Bangalore RO,INPCTCS05064,Desktop,Zenith,H61,2Y17395,Kaarthik G,TMF,Associate,Working
93,NaN,NaN,NaN,Bangalore RO,INPCTCS05893,Desktop,Zenith,H61,3Y10996,NaN,NaN,NaN,Working
94,NaN,NaN,99500016,Bangalore RO,INPCTCS06080,Desktop,HP,202 MT,INA403QSKB,Lithika V,TMF,Associate,Working
95,NaN,NaN,99015992,Bangalore RO,INPCTCS00683,Desktop,HP,204 MT,INA403QSHO,Sumati S,NaN,Associate,Working
96,NaN,NaN,99303619,Bangalore RO,INPCTCS08054,Desktop,HP,205 MT,INA426P9HZ,Immanuvel Y,TMF,Associate,Working

In [19]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',index_col=3,header=1
             )

,Unnamed: 0,Unnamed: 1,SL No,Location,Hostname,Asset Type,Make,Model,Serial number,Username,Company,Payroll,Asset Health
Domain ID,,,,,,,,,,,,,
99305693.0,NaN,NaN,1,Bangalore RO,INPCTCS08905,Desktop,HP,H61,INA426P8NS,Shashi3 Kumar,TMF,Associate,Working
99305685.0,NaN,NaN,2,Bangalore RO,INPCTCS08055,Desktop,HP,202 MT,INA409TBNW,Prathap N Vandker,TMF,Associate,Working
88000540.0,NaN,NaN,3,Bangalore RO,INPCTCS04006,Desktop,Zenith,G31,INA426P8NK,BOBIN K SAMUEL,TMF,Associate,Working
520549.0,NaN,NaN,4,Bangalore RO,INPCTCS05064,Desktop,Zenith,G41,2Y17395,Jagadeesha Dankanachari,TMF,TMF,Working
99303615.0,NaN,NaN,5,Bangalore RO,INPCTCS05065,Desktop,Zenith,G41,2Y17391,Wajeed M,TMF,Associate,Working
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99303246.0,NaN,NaN,92,Bangalore RO,INPCTCS05064,Desktop,Zenith,H61,2Y17395,Kaarthik G,TMF,Associate,Working
NaN,NaN,NaN,93,Bangalore RO,INPCTCS05893,Desktop,Zenith,H61,3Y10996,NaN,NaN,NaN,Working
99500016.0,NaN,NaN,94,Bangalore RO,INPCTCS06080,Desktop,HP,202 MT,INA403QSKB,Lithika V,TMF,Associate,Working
99015992.0,NaN,NaN,95,Bangalore RO,INPCTCS00683,Desktop,HP,204 MT,INA403QSHO,Sumati S,NaN,Associate,Working
99303619.0,NaN,NaN,96,Bangalore RO,INPCTCS08054,Desktop,HP,205 MT,INA426P9HZ,Immanuvel Y,TMF,Associate,Working

In [22]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',index_col=3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
Domain ID,NaN,NaN,SL No,Location,Hostname,Asset Type,Make,Model,Serial number,Username,Company,Payroll,Asset Health
99305693,NaN,NaN,1,Bangalore RO,INPCTCS08905,Desktop,HP,H61,INA426P8NS,Shashi3 Kumar,TMF,Associate,Working
99305685,NaN,NaN,2,Bangalore RO,INPCTCS08055,Desktop,HP,202 MT,INA409TBNW,Prathap N Vandker,TMF,Associate,Working
88000540,NaN,NaN,3,Bangalore RO,INPCTCS04006,Desktop,Zenith,G31,INA426P8NK,BOBIN K SAMUEL,TMF,Associate,Working
520549,NaN,NaN,4,Bangalore RO,INPCTCS05064,Desktop,Zenith,G41,2Y17395,Jagadeesha Dankanachari,TMF,TMF,Working
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99303246,NaN,NaN,92,Bangalore RO,INPCTCS05064,Desktop,Zenith,H61,2Y17395,Kaarthik G,TMF,Associate,Working
NaN,NaN,NaN,93,Bangalore RO,INPCTCS05893,Desktop,Zenith,H61,3Y10996,NaN,NaN,NaN,Working
99500016,NaN,NaN,94,Bangalore RO,INPCTCS06080,Desktop,HP,202 MT,INA403QSKB,Lithika V,TMF,Associate,Working
99015992,NaN,NaN,95,Bangalore RO,INPCTCS00683,Desktop,HP,204 MT,INA403QSHO,Sumati S,NaN,Associate,Working
99303619,NaN,NaN,96,Bangalore RO,INPCTCS08054,Desktop,HP,205 MT,INA426P9HZ,Immanuvel Y,TMF,Associate,Working

In [23]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',index_col=3,usecols=[2,3,4])

IndexError: list index out of range

In [24]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',index_col=3,sheetname=1)

TypeError: read_excel() got an unexpected keyword argument `sheetname`

In [25]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',index_col=3,sheet_name=1)

IndexError: list index out of range

In [26]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',index_col=3,sheetname=0)

TypeError: read_excel() got an unexpected keyword argument `sheetname`

In [27]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',index_col=3,sheet_name=0)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
Domain ID,NaN,NaN,SL No,Location,Hostname,Asset Type,Make,Model,Serial number,Username,Company,Payroll,Asset Health
99305693,NaN,NaN,1,Bangalore RO,INPCTCS08905,Desktop,HP,H61,INA426P8NS,Shashi3 Kumar,TMF,Associate,Working
99305685,NaN,NaN,2,Bangalore RO,INPCTCS08055,Desktop,HP,202 MT,INA409TBNW,Prathap N Vandker,TMF,Associate,Working
88000540,NaN,NaN,3,Bangalore RO,INPCTCS04006,Desktop,Zenith,G31,INA426P8NK,BOBIN K SAMUEL,TMF,Associate,Working
520549,NaN,NaN,4,Bangalore RO,INPCTCS05064,Desktop,Zenith,G41,2Y17395,Jagadeesha Dankanachari,TMF,TMF,Working
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99303246,NaN,NaN,92,Bangalore RO,INPCTCS05064,Desktop,Zenith,H61,2Y17395,Kaarthik G,TMF,Associate,Working
NaN,NaN,NaN,93,Bangalore RO,INPCTCS05893,Desktop,Zenith,H61,3Y10996,NaN,NaN,NaN,Working
99500016,NaN,NaN,94,Bangalore RO,INPCTCS06080,Desktop,HP,202 MT,INA403QSKB,Lithika V,TMF,Associate,Working
99015992,NaN,NaN,95,Bangalore RO,INPCTCS00683,Desktop,HP,204 MT,INA403QSHO,Sumati S,NaN,Associate,Working
99303619,NaN,NaN,96,Bangalore RO,INPCTCS08054,Desktop,HP,205 MT,INA426P9HZ,Immanuvel Y,TMF,Associate,Working

In [28]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',index_col=3,sheet_name=1)

IndexError: list index out of range

In [29]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',index_col=3,sheet_name=2)

IndexError: list index out of range

In [30]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',sheet_name=0)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,SL No,Domain ID,Location,Hostname,Asset Type,Make,Model,Serial number,Username,Company,Payroll,Asset Health
1,NaN,NaN,1,99305693,Bangalore RO,INPCTCS08905,Desktop,HP,H61,INA426P8NS,Shashi3 Kumar,TMF,Associate,Working
2,NaN,NaN,2,99305685,Bangalore RO,INPCTCS08055,Desktop,HP,202 MT,INA409TBNW,Prathap N Vandker,TMF,Associate,Working
3,NaN,NaN,3,88000540,Bangalore RO,INPCTCS04006,Desktop,Zenith,G31,INA426P8NK,BOBIN K SAMUEL,TMF,Associate,Working
4,NaN,NaN,4,520549,Bangalore RO,INPCTCS05064,Desktop,Zenith,G41,2Y17395,Jagadeesha Dankanachari,TMF,TMF,Working
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,NaN,NaN,92,99303246,Bangalore RO,INPCTCS05064,Desktop,Zenith,H61,2Y17395,Kaarthik G,TMF,Associate,Working
93,NaN,NaN,93,NaN,Bangalore RO,INPCTCS05893,Desktop,Zenith,H61,3Y10996,NaN,NaN,NaN,Working
94,NaN,NaN,94,99500016,Bangalore RO,INPCTCS06080,Desktop,HP,202 MT,INA403QSKB,Lithika V,TMF,Associate,Working
95,NaN,NaN,95,99015992,Bangalore RO,INPCTCS00683,Desktop,HP,204 MT,INA403QSHO,Sumati S,NaN,Associate,Working
96,NaN,NaN,96,99303619,Bangalore RO,INPCTCS08054,Desktop,HP,205 MT,INA426P9HZ,Immanuvel Y,TMF,Associate,Working

In [31]:
pd.read_excel(r'C:\Users\TMFL\aSSET_REG.xlsx',sheet_name=1)

Empty DataFrame
Columns: [this is sheet 1]
Index: []